<!DOCTYPE html>
<html>
	<head>
		<title>Personnalisé le site de {{name_user}} via Ansible</title>
	</head>
	<body>
		{% if env == "dev" %}
		<p>Bonjour {{name_user}} et bienvenue sur l'environnement de dev modifie!! </p>
		{% elif env == "prod" %}
		<p>Bonjour {{name_user}} et bienvenue sur l'environnement de prod</p>
		{% else %}
		<p>Bonjour vous n'etes ni dans l'environnement de prod ni dans l'environnement de dev</p>
		{% endif %}

	</body>	
</html>
